<div style='padding-top: 1rem;'>

  <div class='row'>

    <div id='login' class='col s6 offset-s3'>
      <h1>Enter new password:</h1>

      <form action='/auth/passwordChange/{{resetToken}}' method='POST'>

        {{#if error}}
          <p
            style='padding: 6px 4px; background-color: rgba(255, 0, 0, 0.1);
            border: 1px solid rgba(255, 0, 0, 1);
            border-radius: 5px;
            color:rgba(255, 0, 0, 1);
            font-weight: 500;
            text-align: center;'
          >{{error}}</p>
        {{/if}}

        <div class='input-field col s12'>
          <input
            id='password'
            name='password'
            type='password'
            class='validate'
            required
          />
          <label for='password'>New Password</label>
        </div>

        <div class='input-field col s12'>
          <input type='password' class='validate' required />
          <label for='password'>Repeat Password</label>
          <span class='helper-text' data-error='Enter password'></span>
        </div>

        <input type='hidden' name='_csrf' value='{{csurf}}' />
        <input type='hidden' name='resetToken' value='{{resetToken}}' />
        <input type='hidden' name='resetTokenExp' value='{{resetTokenExp}}' />
        <input type='hidden' name='userId' value='{{userId}}' />

        <button class='btn btn-primary' type='submit'>Change Password</button>
      </form>
    </div>
  </div>

</div>