{{#if cartItems.length}}
  <h1>Cart:</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Item Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>

    {{#each cartItems}}

      <tbody>
        <tr>
          <td>{{title}}</td>
          <td>{{price}}$</td>
          <td>{{quantity}}</td>
          <td>
            <form
              action='/cart/remove/{{_id}}'
              method='POST'
              style='margin: auto;'
            >
              <button class='btn btn-primary'>Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    {{/each}}

  </table>

  <h2>Total price: {{totalPrice}}$</h2>

  <form action='/checkout' method='POST'>
    <button type='submit' class='btn btn-primary'>Checkout</button>
  </form>
{{else}}
  <h1>Cart is empty</h1>
{{/if}}