{{#if coursesList.length}}
  <h1>Courses:</h1>
  {{#each coursesList}}

    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-image">
            <img src="{{img}}" alt="{{title}}" />
            <span
              class="card-title"
              style="color: black; font-weight: 500"
            >{{title}}</span>
          </div>
          <div class="card-content">
            <p class="price">{{price}}$</p>
          </div>
          <div class="card-action">
            <a href="/courses/{{id}}">Buy course</a>
            <a href="/courses/{{id}}/edit?allow=true">Edit course</a>

            <form action="cart/add/{{id}}" method="POST">
              <input type="hidden" name="id" value="{{id}}" />
              <button class="btn btn-primary">Add to cart</button>
            </form>

            <form action="trash/add/{{id}}" method="POST">
              <input type="hidden" name="id" value="{{id}}" />
              <button class="btn btn-primary">Move to trash</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  {{/each}}
{{else}}
  <h1>No courses yet...</h1>
{{/if}}