{{#if trashList.length}}
  <h1>Trash</h1>
  {{#each trashList}}

    <div class='row'>
      <div class='col s6 offset-s3'>
        <div class='card'>
          <div class='card-image'>
            <img src='{{img}}' alt='{{title}}' />
            <span
              class='card-title'
              style='color: black; font-weight: 500'
            >{{title}}</span>
          </div>
          <div class='card-content'>
            <p class='price'>{{price}}$</p>
          </div>
          <div class='card-action'>
            <form action='trash/delete/{{id}}' method='POST'>
              <input type='hidden' name='id' value='{{id}}' />
              <button class='btn btn-primary'>Delete from trash</button>
            </form>

            <form
              action='trash/recover/{{id}}/?img={{img}}&price={{price}}&title={{title}}/'
              method='POST'
            >
              <input type='hidden' name='id' value='{{id}}' />
              <button class='btn btn-primary'>Recover course</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  {{/each}}
{{else}}
  <h1>Trash is empty...</h1>
{{/if}}